<%- include('partials/head') %>
<body>
	<%- include('partials/navbar') %>
	<main>
		<% if(user) { %>
		<h1>Hi <%= user.username %></hi>
		<a href='/create-post'>+</>
		<% } %>
	</main>
</body>
</html>
